html,body{
	height:100%; 
	margin: 0px;
}
.container{
	margin: 0px;
	margin-left: 0px;
}
.nav{
	width: 100%;
	height: 65px;
	
}
.logo{
    width: 20%;
    float: left;
    height: 100%;
    justify-content: space-around;}

.search_bar{
     
     width: 53%;
     float: left;
     height: 100%;
 }
 .search-icon{
    height: 100%;
    padding-top: 29px;
    padding-left: 70px;
 }
 .search-icon-inner{
    width: 83%;
    height: 82%;
    padding-top: 0px;
 }
.search-icon-box{
	height: 30px;
    width: 53px;
    border-width: 1px;
}
.account{
	          width: 24%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-left: 112px;
    
     }
  
 .account ul{
    width:10%;
    
 }
   .account li{
    list-style: none;
   }



.account-btn-inner{

	width:22%;
	height:33px;
	border:none;
	color:red;
	font-size: 27px;
	background-color:white;
}
.account img{
	width:21px;
}


.utube_icon{
	width: 15%;
    float: left;
    height: 100%;
    padding-top: 30px;
    padding-left: 0px;
}
.utube_icon img {
           width: 100%;
    
}

.dropdown{
    width: 37%;
    
    float: left;
    padding-left: 11px;
    position: relative;
}

.drop-icon img{
   width: 52%;
    padding-left: 20px;
    padding-top: 40px;
    float:left;
}

.utube-text{
    width: 31%;
    float: left;
    height: 100%;
    padding-top: 42px;
    padding-left: 5px;
}
.utube-text p{

	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
}
.side-bar{

	width:16%;
	height:100%;
    float:left;
    
	
}
.home-btn {
	padding-top: 29px;
	padding-left:10px;

}
.home-btn-inner1{
    float: left;
    width: 98%;
    height: 47px;
    border: none;
    font-size: 27px;
    background-color: white;
    vertical-align: middle;
}

.home-btn-inner1:hover {
    background-color: #d4d0cf;
}
.home-btn-inner2{
    float: left;
    width: 98%;
    height: 47px;
    border: none;
    font-size: 27px;
    background-color: white;}

.home-btn-inner2:hover {
    background-color: #d4d0cf;
}

.home-btn-inner3{
    float: left;
    width: 98%;
    height: 47px;
    border: none;
    font-size: 27px;
    background-color: white;}

.home-btn-inner3:hover {
    background-color: #d4d0cf;
}

    .home-btn-inner4{
    float: left;
    width: 98%;
    height: 47px;
    border: none;
    font-size: 27px;
    background-color: white;}

.home-btn-inner4:hover {
    background-color: #d4d0cf;
}
.home-btn-inner1 img{
	width:23px;
    float:left;
}

.home-btn-inner2 img{
    width:23px;
    float:left;
    padding-top: 11px;
}

.home-btn-inner3 img{
    width:23px;
    float:left;
    padding-top: 12px;
}

.home-btn-inner4 img{
    width:23px;
    float:left;
    padding-top: 12px;
}
.home-btn-inner1 p{
   width: 31%;
    font-size: 14px;
    float: left;
    padding-top: 5px;
    height: 28px;
    padding-top: 15px;

}

.home-btn-inner2 p{
    width: 42%;
    font-size: 14px;
    float: left;
    padding-top: 16px;
    height: 43px;
}

.home-btn-inner3 p{
       width: 56%;
    font-size: 14px;
    float: left;
    padding-top: 18px;
    height: 43px;
}

.home-btn-inner4 p{
    width: 36%;
    font-size: 14px;
    float: left;
    padding-top: 18px;
    height: 43px;
}
}




@media (max-width : 1024px) {
    .account{
    width: 24%;
    padding-right: 0px;
    padding-left: 27px;
   }
}

@media (min-width : 900px) {
    body {
        background :red;
    }
}
.home_text{

    width:50%;
    float:left;
}
.home_btn_inner p{

    font-size: 14px;
    float:left;
}
.fa-home {
    float:left;
    padding-top: 9px;
}

.video{

    
    float:left;
    width: 83%;
    height: 100%
}
.video-frame{

    float: left;
    width:345px;
    height:365px;
    padding-left: 73px;
    padding-top: 20px;
    padding-right: 21px;
    padding-bottom: 20px;
}

